<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, ,initial-scale=1, user-scalable=no">
  {{/* <link rel="icon" type="image/ico" href="{{ "/img/favicon.png" | absURL }}" /> */}}
  <!-- SEO -->
  <title>{{ .Page.Title }} - {{ .Site.Title }}</title>
  <meta name="description" content="{{ if isset .Page "description" }}{{ .Page.Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
  {{/* <link rel="canonical" href="{{ if isset .Params "canonical" }}{{ .Params.canonical }}{{ else if and (not (isset .Params "canonical")) (isset .Page "url") }}{{ .Page.URL | absURL }}{{ else }}{{ .Site.BaseURL | absURL }}{{ end }}" /> */}}
  <link rel="canonical" href="{{ .Page.URL | absURL }}" />
  <!-- Open Graph data -->
  <meta property="og:locale" content="{{ if isset .Params.seo.og "locale" }}{{ .Params.seo.og.locale }}{{ else }}en-GB{{ end }}" />
  <meta property="og:type" content="{{ if isset .Params.seo.og "type" }}{{ .Params.seo.og.type }}{{ else }}article{{ end }}" />
  <meta property="article:section" content="{{ if isset .Params "service" }}{{ .Params.service }}{{ end }}" />
  <meta property="article:published_time" content="{{ .Page.PublishDate }}" />
  <meta property="article:modified_time" content="{{ .Page.Lastmod }}" />
  <meta property="og:updated_time" content="{{ .Page.Lastmod }}" />
  <meta property="og:title" content="{{ if isset .Params.seo.og "title" }}{{ .Params.seo.og.title }}{{ else if (eq .Params.seo.og.title "") }}{{ .Page.Title }}{{ end }}" />
  <meta property="og:url" content="{{ if isset .Params.seo.og "url" }}{{ .Params.seo.og.url }}{{ else }}{{ .Page.URL | absURL }}{{ end }}" />
  <meta property="og:description" content="{{ if isset .Params.seo.og "description" }}{{ .Params.seo.og.description }}{{ else }}{{ .Page.Description }}{{ end }}" />
  <meta property="og:site_name" content="{{ if isset .Params.seo.og "site_name" }}{{ .Params.seo.og.site_name }}{{ else }}TotallyMoney{{ end }}" />
  {{/* <meta property="og:image" content="{{ if isset .Params "banner_image" }}{{ page.banner_image | absURL }}{{ else }}{{end}}" /> */}}
  {{/* <meta property="og:image:secure_url" content="{{ if isset .Params "banner_image" }}{{ page.banner_image | absURL }}{{ else }}{{end}}" /> */}}
  {{/* <meta property="og:image:width" content="{{ page.banner_image | absolute_url }}" /> */}}
  {{/* <meta property="og:image:height" content="{{ page.banner_image | absolute_url }}" /> */}}
  <!-- Twitter Card -->
  <meta name="twitter:card" content="{{ if isset .Params.seo.twitter "card" }}{{ .Params.seo.twitter.card }}{{ else }}summary_large{{ end }}" />
  <meta name="twitter:site" content="{{ if isset .Params.seo.twitter "site" }}{{ .Params.seo.twitter.site }}{{ else }}@TotallyMoney{{ end }}" />
  <!-- / SEO Optimisation -->
</head>
