/*
 The default CSS file.

 You can use @import here to include CSS inside folders
*/
@import "imports/reset.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
}

.post--meta {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.post--meta-label {
  display: block;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

a {
  color: #20c997;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.author {
  display: block;
  margin-right: 1rem;
}

.author--avatar {
    border-radius: 1.125rem;
    height: 36px;
    height: 2.25rem;
    overflow: hidden;
    width: 36px;
    width: 2.25rem;
}

img {
    max-width: 100%;
}

.author--info {
    margin-left: 16px;
    margin-left: 1rem;
}

.author--name {
    font-weight: 600;
}

.author--info span {
    display: block;
}

.author--title {
    /* font-size: 12.8px;
    font-size: 0.8rem;
    letter-spacing: 0.02em; */
}

.post--info {
    display: flex;
    flex-direction: column;
}

.post--date {
    font-weight: 600;
    line-height: normal;
}

.post--category {
    letter-spacing: 0.02em;
}

.header__content {
  align-self: stretch;
  flex: none;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
}
.header__category {
  color: #7eb0e8;
  font-weight: 500;
  margin-bottom: 1.25em;
  text-align: center;
}
.header__heading {
  border: 0;
  color: #414042;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -.02326em;
  line-height: 1.12121;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}
.header__author {
  display: flex;
  justify-content: center;
}
.header__authorName {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.header__authorTitle {
  color: #000;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.42857em;
  text-align: left;
}
.header__authorImage {
  background: #000;
  margin-right: 15px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.header__authorImage img {
  background: #000;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
