<html>
  {{ partial "head" . }}

  <body>
    {{ partial "tm-global-nav" . }}
    {{ partial "header" . }}
    {{ partial "nav" . }}

    {{ .Content }}

    {{ $paginator := .Paginate (where .Pages "Type" "loans") }}
      <div style="margin:15px;max-width:1200px;margin: 15px auto;">
        {{ range $paginator.Pages }}
          <div class="card-container">
            <div class="card-li">
              <p style="font-weight:bold;">{{ .Params.service }}</p>
              <h5 class="card-li__header">{{ .Title }}</h5>
              <p>{{ truncate 200 .Summary }}</p>
              <div class="card-li__cta">
                <a class="btn btn--primary" href="{{ .URL }}">Read More</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    {{ partial "pagination.html" . }}

    {{ partial "tm-footer" . }}
  </body>
</html>
